@page
@using HotelManagement_Services.Interfaces
@model MiniHotelManagement_Razor.Pages.RoomTypePage.CreateModel

@{
    ViewData["Title"] = "Create";
}
@{
    @inject IRoleService _roleService
    var customerRole = await _roleService.GetRoleByName("Customer");
    var canParse = int.TryParse(HttpContext.Session.GetString("Role"), out int roleId);
    if (!canParse)
    {
        Response.Redirect("/Index");
        return;
    }
    if (roleId == null || roleId == customerRole.RoleId)
    {
        Response.Redirect("/AccessDenied");
        return;
    }
    if (roleId != 2 && roleId != 1)
        Response.Redirect("/AccessDenied");
}
<h1>Create</h1>

<h4>RoomType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomType.RoomTypeId" class="control-label"></label>
                <input asp-for="RoomType.RoomTypeId" class="form-control" />
                <span asp-validation-for="RoomType.RoomTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomType.RoomTypeName" class="control-label"></label>
                <input asp-for="RoomType.RoomTypeName" class="form-control" />
                <span asp-validation-for="RoomType.RoomTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomType.Description" class="control-label"></label>
                <input asp-for="RoomType.Description" class="form-control" />
                <span asp-validation-for="RoomType.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
