@page
@model MiniHotelManagement_Razor.Pages.RoomPage.EditModel

@{
    ViewData["Title"] = "Edit";
}
@{
    var canParse = int.TryParse(HttpContext.Session.GetString("Role"), out int roleId);
    if (!canParse)
        Response.Redirect("/Index");
    if (roleId != 2 && roleId != 1)
        Response.Redirect("/AccessDenied");
}
<h1>Edit</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Room.RoomId" />
            <div class="form-group">
                <label asp-for="Room.RoomName" class="control-label"></label>
                <input asp-for="Room.RoomName" class="form-control" />
                <span asp-validation-for="Room.RoomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.RoomTypeId" class="control-label"></label>
                <select asp-for="Room.RoomTypeId" class="form-control" asp-items="ViewBag.RoomTypeId"></select>
                <span asp-validation-for="Room.RoomTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Description" class="control-label"></label>
                <input asp-for="Room.Description" class="form-control" />
                <span asp-validation-for="Room.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Capacity" class="control-label"></label>
                <input asp-for="Room.Capacity" class="form-control" />
                <span asp-validation-for="Room.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUpload" class="control-label"></label>
                <input type="file" asp-for="FileUpload" class="form-control" />
                <span asp-validation-for="FileUpload" >@Model.FileUpload</span>
                @if (!string.IsNullOrEmpty(Model.Room.ImageUrl))
                {
                    <div class="mt-3">
                        <label>Current Image:</label>
                        <img src="/images/@Model.Room.ImageUrl" width="150" height="150" style="object-fit: cover;" alt="Image" />
                    </div>
                }
                <span asp-validation-for="Room.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
